@import "./variables";

//cuadrado para grabar 
.cuadro_grabar{
    height: 500px;
    margin: auto;
}
.grabarVid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grabar_gif{
    position: relative;
    display: flex;
    flex-direction: row;
}
//imagenes
.luz{
    margin-top: -80px;
}
.cinta{
    margin-bottom: 100px;
}

//botones
.botonGeneral{
    border: 1px solid $morado;
    width: 120px;
    height: 50px;
    border-radius: 100px;
    margin: auto;
    margin-left: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        border: none;
        background:none;
        color: $morado;
        font-weight: 500;
        margin:auto;
    }
}
#comenzar{
    position: relative;
}
#grabar{
    position: absolute;
    visibility: hidden;
}
#finalizar{
    position: absolute;
    visibility: hidden;
}
#subir{
    position: absolute;
    visibility: hidden;
}

.btn{
    border: 1px solid $morado;
    background:none;
    border-radius: 500px;
    color: $morado;
    width: 50px;
    height: 50px;
}
//pasos videos 1,2,3
.pasosVideo{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content:baseline;
}

.numeros{
    margin-bottom: 50px;
    padding: 20px;
    border-bottom: 3px solid $morado;
    border-radius: 5px;
    width: 900px;
    margin-left: 300px;
}
//cronometro video
#cronometro{
    color: blue;
    width: 200px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 50px;
    visibility: hidden;
}
//repetir captura
.repetirCaptura{
    color: $morado;
    text-decoration:$verde;
    text-decoration-line:underline;
    width: 200px;
}